name: Release

on:
  workflow_dispatch:
    inputs:
      VERSION:
        required: true
        type: string

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure CMake
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: |
          cmake --build build

      - name: Run tests
        run: |
          cd build
          ctest --output-on-failure

      - name: Package library
        run: |
          mkdir -p kutiles-pkg
          cp build/libkutiles.a kutiles-pkg/kutiles.a

      - name: Upload
        uses: IdanKoblik/Changelog@prod
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          version: ${{ inputs.VERSION }}
          assets: '["./kutiles-pkg/kutiles.a"]'
